{
    "DECLARATIONS": <%=DECLARATIONS%>,
    "INCLUDES": <%=INCLUDES%>,
    "CURRENT_TIME": "<%=CURRENT_TIME%>",
    "SOURCE_FILE": "<%=SOURCE_FILE%>",
    "NAMESPACE": <%=NAMESPACE%>,
    "DECLARATIONS_REGISTRY": <%=DECLARATIONS_REGISTRY%>
}