{
    "DECLARATIONS": <%=DECLARATIONS%>,
    "INCLUDES": <%=INCLUDES%>,
    "CURRENT_TIME": "2025-06-13 16:48:20",
    "SOURCE_FILE": "<%=escapeString(SOURCE_FILE)%>",
    "NAMESPACE": <%=NAMESPACE%>,
    "DECLARATIONS_REGISTRY": <%=DECLARATIONS_REGISTRY%>
}